<h4>Search Inventory</h4>
<%= form_for inventories_search_path, :method => "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
  <%= submit_tag "SEARCH", :name => nil, class: "btn btn-success" %>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th>Brand</th>
    <th>Style</th>
    <th>Category</th>
    <th>Color</th>
    <th>Size</th>
    <th>Price($)</th>
    <th>Sold</th>
  </tr>
  <% @inventories.each do |item| %>
    <tr class="<%= 'sold' if item.available == false %>">
      <td><%= Brand.where(id: item.brand_id).first.name %></td>
      <td><%= item.style %></td>
      <td><%= item.category %></td>
      <td><%= item.color %></td>
      <td><%= item.size %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td>
        <% if item.available == true %>
          Available
        <% else %>
          SOLD
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
